main {
  padding:0 10vw;
}

.landingpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  color:#eeeeee;
  font-size: 17vw;
  font-weight: 700;
}
.subtitle {
  font-size: 7vw;
  color:var(--accent);
  font-weight: 200;
}
