:root {
  --primary: #022c43;
  --secondary: #053f5e;
  --third: #115173;
  --accent: #ffd700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html, body {
  font-family: 'Open+Sans', sans-serif;
  background: var(--primary);
  background: -webkit-linear-gradient(to right, var(--primary), var(--secondary));
  background: linear-gradient(to right,var(--primary), var(--secondary));
  min-height: 100vh;
  color: #EEEEEE;
  overflow: hidden;
}

