@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');

:root {
  --primary: #222831;
  --text: #F4F6FF;
  --accent: #4ECCA3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html, body {
  font-family: 'Raleway', sans-serif;
  background: var(--primary);
  min-height: 100vh;
  color: var(--text);
  overflow: hidden;
  font-weight: 100;
}